* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(shutterstock_1520416157-scaled.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 700px;
  width: 100;
  background-color: #FFF;
  padding: 25px 30px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.logo {
  position: relative; 
  margin-bottom: 20px;
}

.logo-img {
  width: 100%; 
  max-width: 150px; 
  display: block; 
  margin: 0 auto; 
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: block;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #4e8a30;
  border-radius: 5px;
  font-family: 'Teko', sans-serif;
}

a:hover {
  background-color: #d68112;
}
