*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container .titulo{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    
}

.container{
    max-width: 700px;
    width: 100;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;

}

.logo {
    width: 150px; 
    margin-bottom: 20px;
  }

